@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cormorant Garamond";
}

.bggg {
  background: linear-gradient(
    257.29deg,
    rgba(153, 124, 152, 0.6) 6.5%,
    #ffffff 18.5%,
    rgba(159, 13, 118, 0.27) 41%,
    #ffffff 77.5%,
    rgba(153, 124, 152, 0.4) 90.5%
  );
  border-radius: 15px 0px 0px 0px;
}
